bin
obj
testrunner
*.crunchsolution.cache
.vscode/
*.suo
/TestResults
HackerCup.sln.ide
*.user
packages
.DS_STORE
.nuget
*.sublime-project
*.sublime-workspace
*.userprefs
*.ncrunch*
_NCrunch_*
.builder
